<template name="addArticles">
    <form class="main">
        <div class="control-group">
            <label class="control-label" for="url">URL</label>
            <div class="controls">
                <input name="url" type="text" value="" placeholder="Your URL" />
            </div>
        </div>

        <div class="control-group">
          <ul id="articlerepeat">
            <li>Repeat: </li>
            <li><input type="radio" name="rbtNever" value="never"> Never</li>
        	  <li><input type="radio" name="rbtFrequently" value="frequently"> Frequently</li>
        	  <li><input type="radio" name="rbtNotFrequently" value="notFrequently"> Not so frequently</li>
          </ul>
        </div>

        <div class="control-label">Select Social media to share on</div>

        <div class="control-group">
            <input type="checkbox" value="1" id="chkfb" />
            <img src="images/Facebook.png">

            <input type="checkbox" value="2" id="twitter" />
            <img src="images/Twitter.png" >

            <input type="checkbox" value="3" id="g+" />
            <img src="images/G+.png">

            <input type="checkbox" value="4" id="linkedin" />
            <img src="images/Linkedin.png">

            <input type="checkbox" value="5" id="pinterest" />
            <img src="images/Pinterest.png">

            <input type="checkbox" value="5" id="reddit" />
            <img src="images/Reddit.png">

            <input type="checkbox" value="5" id="stumbleupon" />
            <img src="images/Stumbleupon.png">
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>
    </form>

</template>
