<template name="addArticles">
    <form class="main">
        <div class="control-group">
            <label class="control-label" for="url">URL</label>
            <div class="controls">
                <input name="url" type="text" value="" placeholder="Your URL" />
            </div>
        </div>

        <div class="control-group">
            <label lass="control-label">Repete</label>
            <div>Repetes :</div>
            <div>
                <input type="radio" name="Repete" value="never">Never</div>
            <div>
                <input type="radio" name="Repete" value="frequently">Frequently</div>
            <div>
                <input type="radio" name="Repete" value="notFrequently">Not so frequently</div>
        </div>

        <div lass="control-label">Select Social media to share on</div>

        <div class="control-group">
            
            <img src="images/Facebook.png">
            <input type="checkbox" value="Facebook" id="chkfb" />

            
            <img src="images/Twitter.png" >
            <input type="checkbox" value="Twitter" id="twitter" />

            
            <img src="images/G+.png">
            <input type="checkbox" value="G+" id="g+" />

            
            <img src="images/Linkedin.png">
            <input type="checkbox" value="Linkedin" id="linkedin" />

            
            <img src="images/Pinterest.png">
            <input type="checkbox" value="Pinterest" id="pinterest" />

            
            <img src="images/Reddit.png">
            <input type="checkbox" value="Reddit" id="reddit" />

            
            <img src="images/Stumbleupon.png">
            <input type="checkbox" value="Stumbleupon" id="stumbleupon" />
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>
    </form>

</template>
