<template name="editArticles">
    <form class="main">
        <div class="control-group">
            <label class="control-label" for="url">URL</label>
            <div class="controls">
                <input name="url" type="text" value="{{this.url}}" placeholder="Your URL" />
            </div>
            <label class="control-label" for="title">Title</label>
            <div class="controls">
                <input name="title" type="text" value="{{this.title}}" placeholder="Link Title" />
            </div>
        </div>

        <div class="control-group">

            <ul id="articlerepeat">
              <li><b>Repeat: </b></li>
              <li><input type="radio" name="Repeat" value="never" {{repeteNever}}> Never</li>
        	    <li><input type="radio" name="Repeat" value="frequently" {{repeteFrequently}}> Frequently</li>
        	    <li><input type="radio" name="Repeat" value="notFrequently" {{repeteNotFrequently}}> Not so frequently</li>
            </ul>
        </div>
        </br>
        <label class="control-label">Select Social media to share on</label>

        <div class="control-group">
            <img src="../../images/Facebook.png">
            <input type="checkbox" value="Facebook" id="chkfb" {{chcekFb}} />

            
            <img src="../../images/Twitter.png" >
            <input type="checkbox" value="Twitter" id="twitter" {{chcektwitter}}/>

            
            <img src="../../images/Gplus.png">
            <input type="checkbox" value="Gplus" id="Gplus" {{chceckgpls}}/>

            
            <img src="../../images/Linkedin.png">
            <input type="checkbox" value="Linkedin" id="linkedin" {{checklinkedin}}/>

            
            <img src="../../images/Pinterest.png">
            <input type="checkbox" value="Pinterest" id="pinterest" {{checkpin}}/>

            
            <img src="../../images/Reddit.png">
            <input type="checkbox" value="Reddit" id="reddit" {{checkreddit}}/>

            
            <img src="../../images/Stumbleupon.png">
            <input type="checkbox" value="Stumbleupon" id="stumbleupon" {{checkstu}} />
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Submit" class="btn btn-primary submit" />
            </div>
        </div>
        <hr/>
        <div class="control-group">
            <div class="controls">
                <a class="btn btn-danger delete" href="#">Delete post</a>
            </div>
        </div>


    </form>

</template>
